.card-hover:hover .card {
    background-color: var(--bs-tertiary-bg);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    transition: all 0.3s ease-in-out;
    transform: translateY(-2px);
}

.card-hover .card {
    transition: all 0.3s ease-in-out;
}